@inject ReduxDispatcher<AppState, Reducer> dispatcher

<div class='container-fluid'>
    <div class='row'>
        <h2>Counter SharpRedux sample</h2>
        <div class='col-sm-12'>
            <Counter Current=Current.Counter />
        </div>
    </div>
</div>

@functions {
    AppState Current;

    protected override void OnInit()
    {
        Current = dispatcher.InitialState;
        dispatcher.StateChanged += (s, e) =>
        {
            Current = e.State;
            this.StateHasChanged();
        };
    }
}
