@inject ReduxDispatcher<AppState, Reducer> dispatcher

<h1>Counter</h1>

<p>Current count: @Current.Counter</p>

<button @onclick(IncrementCount)>Click me</button>

@functions {
    public AppState Current { get; set; }

    void IncrementCount()
    {
        dispatcher.Dispatch(new IncrementCounterAction());
    }
}
