@inject ReduxDispatcher<AppState, Reducer> dispatcher

<h1>Counter</h1>

<p>Current count: @Current.Counter</p>

<button @onclick(IncrementCount)>Click me</button>

@functions {
    public AppState InitialState { get; set; }
    AppState Current;
    void IncrementCount()
    {
        dispatcher.Dispatch(new IncrementCounterAction());
    }
    protected override void OnInit()
    {
        Current = InitialState;
        dispatcher.StateChanged += (s, e) =>
        {
            Current = e.State;
        };
    }
}
